  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

  <div class="parallax-container">
    <div class="row center"><h1 class="col s12 light white-text">さぁはじめよう！</h1></div>
    <div class="parallax"><img src="http://materializecss.com/images/parallax1.jpg"></div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" onclick="character_set('')"><a class="active" href="#test1">ゼロ</a></li>
        <li class="tab col s3" onclick="character_set(20)"><a href="#test2">桜子</a></li>
        <li class="tab col s3" onclick="character_set(30)"><a href="#test3">ハヤテ</a></li>
      </ul>
    </div>
  </div>

    <span id="result_span"></span>

    <div class="content" id=""></div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">EnterでMessageを投稿します。</label>
        <button class="btn waves-effect waves-light" onClick="$('#textarea1').trigger($.Event('keydown',{ keyCode: 13, which: 13 }))">Send
          <i class="material-icons">send</i>
        </button>
        <input type="hidden" id="character_type" value=""></div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('.parallax').parallax();
        $('ul.tabs').tabs();
      });

      $('#textarea1').keydown(function (e) {
        var content = $("#textarea1").val();
        if (content !== "") {
          if (e.which == 13){
            var chara = document.getElementsByClassName('chara');
            $.post('/new', { utt: $('#textarea1').val(), context: document.getElementsByClassName('test').id, mode: document.getElementsByClassName('test').mode, t: chara.value }, function(ret) {
              var response = JSON.parse(ret);
              //一時的に使用するidなどをダミーで作る
              var element = document.getElementsByClassName('test');
              element.id = response.context
              element.mode = response.mode
              console.log(chara.value);
              switch (chara.value){
                case undefined:
                  chara.img = "http://docomodake.net/images/profile/fig_profile_hikaridake.png"
                  break;
                case "":
                  chara.img = "http://docomodake.net/images/profile/fig_profile_hikaridake.png"
                  break;
                case 20:
                  chara.img = "http://tn-skr2.smilevideo.jp/smile?i=32062457.L"
                  break;
                case 30:
                  chara.img = "https://iwiz-chie.c.yimg.jp/im_siggHYYab9BLuG8zYI66zwcqeA---x320-y320-exp5m-n1/d/iwiz-chie/que-13117657478"
                  break;
              }
              var self_chara_img = "http://www.moaibu.com/chara/etc2/docomodake.jpg"
              $('#result_span').before('<div class="question_Box"><div class="question_image"><img src='+ self_chara_img +' alt="ドコモダケ" /></div><div class="arrow_question">'+$('#textarea1').val()+'</div></div>');
              $('#result_span').before('<div class="question_Box"><div class="answer_image"><img src='+ chara.img +' alt="雑談API" /></div><div class="arrow_answer">'+ response.utt +'</div></div>');
              $('#textarea1').val('');
              $('body').animate({
                scrollTop: $(document).height()
              },1);
            });
          }
        }
      });

      function character_set(value){
        var character_type = document.getElementsByClassName('chara');
        character_type.value = value;
      }
    </script>
  </div>
</div>
