<link href='/css/style.css' rel='stylesheet' type='text/css'/>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <span id="result_span"></span>

  <div class="content" id=""></div>

  <div id="footerArea">
    <input type="text" id="input_text" placeholder="Enterで投稿"><br /><br />
  </div>

  <script>
    $('#input_text').keydown(function (e) {
      var content = $("#input_text").val();
      if (content && content !== "") {
        if (e.which == 13){
          $.post('/new', { utt: $('#input_text').val(), context: document.getElementsByClassName('test').id }, function(ret) {
            var response = JSON.parse(ret);
            var element = document.getElementsByClassName('test');
            element.id = response.context
            console.log(element.id);
            $('#result_span').before('<div class="question_Box"><div class="question_image"><img src="http://flat-icon-design.com/f/f_object_174/s256_f_object_174_0bg.png" alt="質問者の写真" /></div><div class="arrow_question">'+$('#input_text').val()+'</div></div>');
            $('#result_span').before('<div class="question_Box"><div class="answer_image"><img src="http://flat-icon-design.com/f/f_event_63/s256_f_event_63_0bg.png" alt="雑談APIの写真" /></div><div class="arrow_answer">'+ response.utt +'</div></div>');
            $('body').delay(1).animate({
              scrollTop: $(document).height()
            },1);
          });
        }
      }
    });
  </script>
