<link href='/css/style.css' rel='stylesheet' type='text/css'/>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <span id="result_span"></span>

  <div id="footerArea">
    <input type="text" id="input_text"><br /><br />
  </div>

  <script>
    $('#input_text').keydown(function (e) {
        if (e.which == 13){
          $.post('/new', { in: $('#input_text').val() }, function(ret) {
            $('#result_span').before('<div class="question_Box"><div class="question_image"><img src="http://flat-icon-design.com/f/f_object_174/s256_f_object_174_0bg.png" alt="質問者の写真" /></div><div class="arrow_question">'+$('#input_text').val()+'</div></div>');
            $('#result_span').before('<div class="question_Box"><div class="answer_image"><img src="http://flat-icon-design.com/f/f_event_63/s256_f_event_63_0bg.png" alt="質問者の写真" /></div><div class="arrow_answer">'+ ret +'</div></div>');
            $('body').delay(1).animate({
              scrollTop: $(document).height()
            },1500);
          });
        }
    });
  </script>
