<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="86400">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>EasyTalk</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
